<!DOCTYPE html>
<html>

<head>
  <title>

  </title>
  <link rel='stylesheet' type="text/css" href='/stylesheets/index.css' />

</head>

<body>
  <nav>
    <ul>
      <li class="logo"><a href="#">Hỏi.MịeĐê!</a></li>
      <li><a href="/ask">Hỏi nhanh</a></li>
      <li><a href="/">Đáp gọn</a></li>
    </ul>
  </nav>
  <section class="main-content">
    <div class="question-content">
      Some questions????
    </div>
    <div class="btn-group">
      <button class="btn dislike-button" id="dislike">Sai/Không/Dislike</button>
      <button class="btn like-button" id="like">Đúng/Có/Like</button>
    </div>
  </section>
  <script src="/javascripts/index.js"></script>
</body>

</html>