<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Detail</title>
    <link rel="stylesheet" href="/stylesheets/question-detail.css">
</head>

<body>
    <nav>
        <ul>
            <li class="logo"><a href="#">Hỏi.MịeĐê!</a></li>
            <li><a href="/ask">Hỏi nhanh</a></li>
            <li><a href="/">Đáp gọn</a></li>
        </ul>
    </nav>

    <div class="main-content">
        <div class="question-content">Loading...</div>
        <div class="vote">
            <span class="vote-number">Loading...</span> vote
        </div>
        <div class="rate-bar">
            <div class="dislike" style="width: 0%">0%</div>
            <div class="like" style="width: 0%">0%</div>
        </div>
        <div class="btn">
            <button id="btn">Xem câu hỏi khác</button>
        </div>
    </div>
    <script src="/javascripts/question-detail.js"></script>
</body>

</html>